API_ENDPOINT=http://localhost:8080/v1/graphql
API_SECRET_HEADER_KEY=...
HASURA_GRAPHQL_ADMIN_SECRET=...
PCA_DB_HOST=...
PCA_DB_PASSWORD=...
PCA_DB_PORT=...
PCA_DB_USER=...
PURPLE_AIR_READ_KEY=...
PURPLE_AIR_WRITE_KEY=...
SOURCE_CONCURRENCY=1
